In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from event_keywords import event_keywords

In [3]:
df = pd.read_csv('./data/train.csv')
df.head(5)

                                                text  sex  age  event
0  57YOM WITH CONTUSION TO FACE AFTER STRIKING IT...    1   57     62
1  A 45YOM FELL ON ARM WHILE WORKING HAD SLIPPED ...    1   45     42
2  58YOM WITH CERVICAL STRAIN  BACK PAIN S P REST...    1   58     26
3              33 YOM LAC TO HAND FROM A RAZOR KNIFE    1   33     60
4  53YOM AT WORK IN A WAREHOUSE DOING UNSPECIFIED...    1   53     71

Create keyword indicators

In [17]:
events = [k for k in event_keywords.keys() if len(event_keywords[k]) > 0]
print(events)

['11', '12', '13', '23', '24', '25', '26', '27', '31', '32', '41', '42', '43', '44', '51', '52', '53', '55', '60', '62', '63', '64', '66', '70', '71', '72', '73']

In [19]:
%%time
for event in events:
    df[event+'_ind'] = df['text'].apply(lambda x: 1*any([k in x for k in event_keywords[event]]))

CPU times: user 33.1 s, sys: 8.08 ms, total: 33.1 s
Wall time: 33.1 s

In [20]:
event_indicators = [e+'_ind' for e in events]

In [21]:
df.head()

,text,sex,age,event,11_ind,12_ind,13_ind,23_ind,24_ind,25_ind,...,55_ind,60_ind,62_ind,63_ind,64_ind,66_ind,70_ind,71_ind,72_ind,73_ind
0,57YOM WITH CONTUSION TO FACE AFTER STRIKING IT...,1,57,62,1,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,0
1,A 45YOM FELL ON ARM WHILE WORKING HAD SLIPPED ...,1,45,42,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,58YOM WITH CERVICAL STRAIN BACK PAIN S P REST...,1,58,26,1,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0
3,33 YOM LAC TO HAND FROM A RAZOR KNIFE,1,33,60,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,53YOM AT WORK IN A WAREHOUSE DOING UNSPECIFIED...,1,53,71,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [35]:
df[event_indicators].sum(0)

11_ind     56177
12_ind       705
13_ind     30334
23_ind       504
24_ind     18441
25_ind       186
26_ind     22622
27_ind        77
31_ind     13317
32_ind       279
41_ind        11
42_ind     58004
43_ind     51561
44_ind       768
51_ind      1995
52_ind      1444
53_ind     55867
55_ind     77698
60_ind      1130
62_ind     89815
63_ind      5411
64_ind      9247
66_ind     19082
70_ind      1779
71_ind    103871
72_ind       196
73_ind     12616
dtype: int64

In [36]:
df[event_indicators].to_pickle('data/event_indicators.pkl')